*{
  margin: 0;
  padding: 0;
}

/* brand */
.brandContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandImg{
  width: 4rem;
  height: 4rem;
}

/* navbar */
.navbar{
  font-size: 1.5rem;
}

.navbar>.container-fluid{
  gap : 5rem
}

.navbar-brand{
  color: rgb(255, 145, 0);
  font-size: 2.2rem;
}

.nav-link{
  color: #fff;
  margin: 0 1rem;
}

/* footer */
.footer {
  /* min-height: 12rem; */
  font-size: 1.2rem;
  background-color: rgb(28 28 28 / 80%);
  color: #fff;
}

.ulFooter {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.ulRedes {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  gap: 10px;
}

.github{
  width: 6rem;
  height: 4rem;
}

.linkedin{
  width: 5rem;
  height: 4rem;
}

.instagram{
  width: 3.5rem;
  height: 3rem;
}

.divContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleFooter p{
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

.thanks p{
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 145, 0);
}


/* Home */
.titleHome,.jobTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
}

.titleHome span{
  text-align: center;
}

.titleHome__name{
  color: #e7562e;
}

.jobTitle span{
  margin: 0;
}

.presentation{
  font-weight: 500;
  font-size: 1.2rem;
}

.subTitle{
  color: rgb(255, 145, 0);
}

.imgPortfolio{
  border-radius: 50%;
  width: 10rem;
  height: 12rem;
}

.photo-container{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .nav-link{
    margin: 0;
  }

  .navbar-nav{
    padding-left: 1rem;
  }

  .navbar>.container-fluid{
    gap : 0
  }
}

@media screen and (max-width: 620px) {
  .ulFooter{
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .ulFooter{
    margin: 0;
    padding: 1rem;
  }

  .ulRedes{
    margin: 1rem 0;
    padding: 0;
    justify-content: flex-start;
    flex-direction: row;
  }
}

@media screen and (max-width: 440px) {
  .navbar{
    font-size: 1.2rem;
  }

  .navbar-brand{
    font-size: 1.5rem;
  }

  .brandImg{
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .navbar{
    font-size: 1.2rem;
  }

  .navbar-brand{
    font-size: 1.5rem;
  }
}